/* Variables de colores */
:root {
    --primary-bg-color: #1a1a1a;
    --secondary-bg-color: rgba(24, 24, 24, 0.911);
    --primary-text-color: #e4e4e4;
    --highlight-color: #d4af37;
    --form-primary-bg-color: #0f0f0f;
    --navbar-bg-color: #333;
    --card-bg-color: #333;
    --btn-hover-color: #b8902f;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    background-image: url('/www/img/background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.logo-container {
    overflow: hidden; 
}
 
.logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.navbar {
    background-color: var(--navbar-bg-color);
    display: flex;
    align-items: center;
    padding: 0 0;
    padding-right: 30px;

}

.navbar-brand img {
    height: 50px;
}

.navbar-nav .nav-link {
    color: var(--primary-text-color);
}

.navbar-nav .nav-link:hover {
    color: var(--highlight-color);
}

.dropdown-menu {
    background-color: var(--card-bg-color);
    
}
.dropdown-item {
    color: var(--primary-text-color);
}
.container {
    margin-top: 80px;
    opacity: 0.9;
}

.main-content,
.sidebar {
    background-color: var(--secondary-bg-color);
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #444;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.sidebar h4,
.main-content h1 {
    color: var(--highlight-color);
}


.list-group-button:hover {
    background-color: var(--btn-hover-color) /* Color de hover */
}

.btn-primary {
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
}

.btn-primary:hover {
    background-color: var(--btn-hover-color);
    border-color: var(--btn-hover-color);
}

/* Estilos para Últimas Noticias */
.news-item {
    display: flex;
    margin-bottom: 15px;
    background-color: var(--secondary-bg-color);
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #444;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.news-item img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 8px;
}

.news-item p {
    flex: 1;
    color: var(--primary-text-color);
}
.news-item h6 {
    color: var(--highlight-color);
}
/* Estilos para la Card de Noticias */
.card {
    background-color: var(--card-bg-color);
    border-radius: 8px;
    border: 1px solid #444;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-title {
    color: var(--highlight-color);
}

.card-text {
    color: var(--primary-text-color);
}

.card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* Estilos para el Panel de Búsqueda */
.card-header {
    background-color: var(--navbar-bg-color);
    color: var(--highlight-color);
}

.card-body .form-label {
    color: var(--highlight-color);
}

.card-body .form-control {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    border: 1px solid var(--highlight-color);
}

.card-body .form-select {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    border: 1px solid var(--highlight-color);
}

/* Estilos para la Tabla de Lista de Personajes */
.table {
    background-color: var(--card-bg-color);
    color: var(--primary-text-color);
    border: 1px solid #444;
}

.table th, .table td {
    border: 1px solid #444;
}

.table th {
    background-color: var(--navbar-bg-color);
    color: var(--highlight-color);
}

.table td {
    background-color: var(--secondary-bg-color);
    color:var(--primary-text-color)
}

/* Estilos para el Acordeón */
.accordion-item {
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    border: 1px solid #444;
    border-radius: 8px;
}

.accordion-header .accordion-button {
    background-color: var(--navbar-bg-color);
    color: var(--primary-text-color);
    border-radius: 8px;
}

.accordion-header .accordion-button:not(.collapsed) {
    color: var(--highlight-color);
}


/* Estilos para el Sidebar */
.sidebar h4 {
    color: var(--highlight-color);
}

.custom-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 400px;
    background-color: #333;
    border-radius: 5px;
    overflow: hidden;
}

.custom-list-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    color: #e4e4e4;
    border-bottom: 1px solid #444;
}

.custom-list-item:last-child {
    border-bottom: none;
}

.item-message {
    font-weight: bold;
    font-size: 16px;
    color: #d4af37; /* Color dorado para destacar */
}

.item-quantity {
    background-color: #555;
    padding: 5px 10px;
    border-radius: 12px;
    color: #e4e4e4;
    font-size: 14px;
    text-align: center;
    min-width: 40px;
}

.list-group-item {
    background-color: var(--card-bg-color);
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
}

.list-group-item img {
    height: 40px;
    margin-right: 10px;
}
.list-group-button { 
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar .list-group-item {
    background-color: var(--card-bg-color);
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
}

.sidebar .list-group-item img {
    height: 40px;
    margin-right: 10px;
}

.sidebar .form-label {
    color: var(--highlight-color);
}

.sidebar .form-control {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    border: 1px solid var(--highlight-color);
}

/* Estilos para el Modal */
.modal-content {
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    border: 1px solid var(--highlight-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.modal-header {
    border-bottom: 1px solid var(--highlight-color);
}

.modal-title {
    color: var(--highlight-color);
}

.btn-close {
    background-color: var(--highlight-color);
}

.btn-close:hover {
    background-color: var(--btn-hover-color);
}

.modal-body .form-label {
    color: var(--highlight-color);
}

.form-control {
    background-color: var(--form-primary-bg-color);
    color: var(--primary-text-color);
    border: 1px solid var(--highlight-color);
}

.form-check-label {
    color: var(--primary-text-color);
}

.btn-glow {
    background-color: var(--navbar-bg-color);
    color: var(--primary-text-color);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.btn-glow::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5), transparent 60%);
    z-index: -1;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
}

.btn-glow:hover::before {
    transform: scale(1);
    transition: transform 1s ease-in-out;
}

.btn-glow:hover {
    box-shadow: 0 0 10px var(--highlight-color), 0 0 20px var(--highlight-color), 0 0 30px var(--highlight-color);
}



.vibrant-button {
    background-color:var(--card-bg-color);
    color: var(--primary-text-color);
    border: 2px solid var(--btn-hover-color);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 10px #d4af37;
    cursor: pointer;
    outline: none;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    
    animation: vibrate 0.5s infinite; /* Vibración continua */
}

/* Efecto de brillo */
.vibrant-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: radial-gradient(circle, rgba(255,255,255,0.1), rgba(255,255,255,0) 40%);
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s;
}

.vibrant-button:hover::before {
    opacity: 1;
}

/* Efecto de vibración */
@keyframes vibrate {
    0% { transform: translateX(-2px); }
    50% { transform: translateX(2px); }
    100% { transform: translateX(-2px); }
}

/* Estilo de enfoque */
.vibrant-button:focus {
    outline: none;
    box-shadow: 0 0 10px var(--highlight-color), 0 0 20px var(--highlight-color), 0 0 30px var(--highlight-color);
}